body {
  background-color: #69d6d2;
  margin: 30px;
}
.canvas-container {
  margin: auto;
}
.game-panel {
  background-color: white;
  margin: auto;
  width: 70%;
  padding: 30px;
  min-height: 500px;
}
@media screen and (max-width: 1000px) {
  .game-panel {
    width: 560px;
  }
  .players-td {
    display: none !important;
  }
}
.fade-in {
  opacity: 0;
}
.effect6 {
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

/* Causes problems when opacity changes */


/*.effect6:before, .effect6:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px;
}*/

.players-td {
  width: 100%;
  padding-left: 30px;
  font-family: sans-serif;
}
.players-panel {
  height: 150px;
}
.player {
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  padding-left: 20px;
  display: table;
}
.player-black {
  background-color: #262626;
  color: #e7e7e7;
}
.player-white {
  background-color: #dfdcdc;
  color: #222222;
}
.player-label {
  vertical-align: middle;
  display: table-cell;
  padding-left: 20px;
}
.player-label > span:last-child {
  position: absolute;
  margin: 8px;
}
.game-tr, .game-not-found-tr {
  display: none;
}
.game-not-found {
  background-color: #d01111;
  color: white;
  border-radius: 3px;
  padding: 20px;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
}
.new-game-button {
  background-color: #4d9e9b;
  padding: 10px;
  border: solid 2px #1c7572;
  border-radius: 2px;
  width: 200px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  margin: auto;
  margin-top: 30px;
}
.new-game-button:hover {
  background-color: #84ccc9;
}
.opponent {
  font-weight: bold;
  font-size: 16px;
}
.color {
  border-radius: 2px;
  padding: 1px 8px;
  font-weight: bold
}
.color-white {
  color: black;
  background-color: #e7e7e7;
}
.color-black {
  color: #e7e7e7;
  background-color: black;
}
.glyphicon-turn {
  color: #ebae12;
  padding-right: 10px;
  font-size: 30px;
}
#white, #black {
  opacity: 0;
}
